name: CI для C++ та Arduino

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  cpp-arduino-build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Забезпечити налаштування Arduino CLI (якщо ще не доступний на ранері)
      - name: Встановити Arduino CLI
        uses: arduino/setup-arduino-cli@v1
        with:
          version: '0.19.2'

      # Встановити CMake
      - name: Встановити CMake
        run: choco install cmake

      # Встановити платформу Arduino AVR
      - name: Встановити платформу Arduino AVR
        run: arduino-cli core install arduino:avr

      # Встановити Doxygen
      - name: Встановити Doxygen
        run: choco install doxygen

      # Запустити CMake для конфігурації проєкту
      - name: Конфігурація CMake
        run: cmake -S Config -B Build
        shell: cmd

      # Зібрати проєкт за допомогою CMake
      - name: Збірка з CMake
        run: cmake --build build
        shell: cmd

      # Генерація документації Doxygen
      - name: Генерація документації Doxygen
        run: doxygen Doxyfile
        shell: cmd

      # Завантажити документацію
      - name: Завантажити документацію
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: Build\doc\html\

      # Завантажити зкомпільовані артефакти (клієнт та Arduino)
      - name: Завантажити артефакти збірки
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: Build\test\*
